.sidebar {
    width:250px;
    min-height:100vh;
    background:var(--surface);
    color:var(--text);
    transition:.3s;
    padding:20px;
}

.sidebar.collapsed {
    width:90px;
}

.menu-btn {
    border:none;
    background:none;
    color: var(--text); 
    font-size:22px;
    cursor:pointer;
    margin-bottom:20px;
}

.sidebar nav {
    display:flex;
    flex-direction:column;
    margin-top:25px;
}

.sidebar a {
    color: var(--text);
    text-decoration:none;
    display:flex;
    align-items:center;
    gap:15px;
    padding:15px;
    border-radius:var(--radius);
    margin-bottom:8px;
    transition:.2s;
}

.sidebar a:hover {
    background:var(--primary-bg);
}

.sidebar.dark {
    background:var(--dark-surface);
    color:var(--surface);
}

.sidebar.dark h2 {
    color:var(--surface);
}

.sidebar.dark a {
    color:#cbd5e1;
}

.sidebar.dark a:hover {
   background:var(--border);
}

.sidebar a.active {
    background:var(--primary);
    color:var(--text-on-primary);
}