:root {
  --primary: #2563eb;
  --primary-dark: #1d4ed8;

  --success: #10b981;
  --warning: #f59e0b;
  --danger: #ef4444;

  --background: #f5f7fb;
  --surface: #ffffff;

  --text: #111827;
  --text-light: #6b7280;

  --border: #e5e7eb;

  --radius: 12px;

  --shadow: 0 8px 25px rgba(0,0,0,.08);

  --transition: .25s ease;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:var(--background);
    font-family:'Segoe UI',sans-serif;
    color:var(--text);
}

button{
    cursor:pointer;
    border:none;
    outline:none;
}

input,
textarea{
    outline:none;
}